<?xml version="1.0"?>
<robot name="obstacles"> <!-- two spheres-->
  <link name="obstacle_base">
    <visual>
      <origin xyz="-0.3 0.3 0.8"/>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
      <material name="Orange">
        <color rgba="1 0.4 0.3 0.6"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.3 0.3 0.8"/>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
    </collision>
  </link>
  
  <joint name="j_object_one" type="fixed">
    <parent link="obstacle_base"/>
    <child link="l_object_one"/>
    <origin xyz="0 0 0"/>
  </joint>
  
  <link name="l_object_one">
    <visual>
      <origin xyz="0.3 -0.2 0.7"/>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
      <material name="Green">
        <color rgba="0.3 1 0.3 0.7"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.3 -0.2 0.7"/>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
    </collision>
  </link>
</robot>
